# Server Configuration
PORT=4000

# Database Configuration
MONGODB_URL=mongodb+srv://username:password@cluster.mongodb.net/
DATABASE_NAME=your_database_name

# Security
SECRET_KEY=your_secret_key_here

# Environment
NODE_ENV=development

# CORS Configuration
CLIENT_URL=http://localhost:5173
